:root {
    --greenlink: #0CB58A;
    --greenlinkhov: #54D8A4;
    --red: #460000;
    --redlink: #C70000;
    --redlinkhov: #F81111;
    --purple: #6F48FF;
    --spaceblue: #106686;
    --blue: #4CC2CC;
    --midblue: #00a6d2;
    --white: #ffffff;
    --hover: #54D8A4;
    --grey: #787878;
}

@font-face {
        font-family: angel;
        src: url("fonts/Angel%20wish.ttf");
    }

@font-face {
        font-family: badcoma;
        src: url("fonts/badcoma.ttf");
    }

@font-face {
        font-family: comicsans;
        src: url("fonts/comicsans.ttf");
    }

@font-face {
        font-family: dharma;
        src: url("fonts/Dharma%20Punk.ttf");
    }

@import url('../cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css');

/* to use above, link this in the html file: <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/galmuri/dist/galmuri.css"> */
    
@font-face {
        font-family: glitch;
        src: url("fonts/Doctor%20Glitch.otf");
}

@font-face {
        font-family: haunting;
        src: url("fonts/Haunting%20Attraction.ttf");
    }

@font-face {
        font-family: hitme01;
        src: url("fonts/Hit%20me%2c%20punk%21%2001.ttf");
    }

@font-face {
        font-family: hitme12;
        src: url("fonts/Hit%20me%2c%20punk%21%2012.ttf");
    }

@font-face {
        font-family: kiss;
        src: url("fonts/Kiss%20Kiss%20-%20TTF.ttf");
}

@font-face {
        font-family: lemon;
        src: url("fonts/DK%20Lemon%20Yellow%20Sun.otf");
}

@font-face {
        font-family: love;
        src: url("fonts/LoveInYou.otf");
}

@font-face {
        font-family: lovesick;
        src: url("fonts/LovesAOE.ttf");
}

@font-face {
    font-family: midnight;
    src: url("fonts/MidnightMinutes_DEMO.otf");
}

@font-face {
    font-family: october;
    src: url("fonts/October%20Crow.ttf");
}

@font-face {
    font-family: offset;
    src: url("fonts/Offset%20Punk.ttf");
}

@font-face {
    font-family: punkdots;
    src: url("fonts/Punk%20Dots.ttf");
}

@font-face {
    font-family: punkkid;
    src: url("fonts/punk%20kid.ttf");
}

@font-face {
    font-family: punkbabe;
    src: url("fonts/PUNKBABE%20TRIAL.ttf");
}

@font-face {
    font-family: punkevent;
    src: url("fonts/PunkEvent.ttf");
}

@font-face {
    font-family: punktype;
    src: url("fonts/Punktype.ttf");
}

@font-face {
        font-family: rock;
        src: url("fonts/Rock%20of%20Times.otf");
}

@font-face {
        font-family: ss;
        src: url("fonts/S%26S%20Grey%20Hood%20Seven.otf");
}

@font-face {
        font-family: satan;
        src: url("fonts/Satan%20Team.ttf");
}

@font-face {
        font-family: signature;
        src: url("fonts/BlackSignature_PERSONAL_USE_ONLY.otf");
}

@font-face {
        font-family: trash;
        src: url("fonts/TrashHand.TTF");
}

@font-face {
        font-family: type;
        src: url("fonts/JMH%20Typewriter.ttf");
}

@font-face {
        font-family: typeb;
        src: url("fonts/JMH%20Typewriter-Bold.ttf");
}

@font-face {
        font-family: typeblk;
        src: url("fonts/JMH%20Typewriter-Black.ttf");
}

@font-face {
        font-family: typethin;
        src: url("fonts/JMH%20Typewriter-Thin.ttf");
}

@font-face {
        font-family: valtin;
        src: url("fonts/Valtin%20Demo.ttf");
    }

@font-face {
        font-family: vhs;
        src: url("fonts/easvhs.ttf");
    }

@font-face {
        font-family: whiteonblack;
        src: url("fonts/whiteonblack.ttf");
    }

@font-face {
        font-family: whoaskssatan;
        src: url("fonts/who%20asks%20satan.ttf");
}

.hov {
	transition: .4s ease;
}

.hov:hover {
    box-shadow: 4px 4px 0 var(--linkhov);
}
